
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Help:</h1>
<span>Quản lý sản phẩm -> Danh mục sản phẩm </span>
<br/>
<span>Chỉ xóa được những sản phẩm chưa có chi tiết sản phẩm (mới tạo)</span>

